body{background:url("../yellowflower.jpg")
}

.square{
  width:400px;
  height:480px;
  border:1px solid white;
  position: absolute;
  top:80px;
  left:220px;
  background:url("../aboutme.png");
  background-position: center;
  background-size: cover;
}

.square2{
  width:600px;
  height:600px;
  border:0px solid black;
  position: absolute;
  left:700px;
  top:30px;
  background:url("../whitelace2.png");
  background-position:center;
  background-size:cover;
  background size:200px;
  z-index: -2;
}

.button{
  width:450px;
  height: 600px;
  position:absolute;
  text-align:center;
  left:60px;
  top:50px;
}
.rectangle1{
  width:250px;
  height:30px;
  border:0px solid black;
  position:absolute;
  top:10px;
  left:100px;
  background:url("../yellowgingham.jpg");
  background-size:cover;

}
.under{
  z-index: -1;
}
.over {
  z-index: 100;
}
h1{
  position:absolute;
  left:320px;
  top:10px;
  color:white;
  font-family:'Fahkwang', sans-serif;
}
p{
  color:black;
}
.d{
  font-family:'Fahkwang', sans-serif;
  font-size:11px;
  width:350px;
  position: absolute;
  text-align: center;
  left:70px;
  background: rgb(255,255,255, 0.5);
}
.title{
  font-family:'Fahkwang', sans-serif;
  font-size:14px;
}
.whitecake{
  width:250px;
  position: absolute;
  top:600px;
  left:260px;

}
.seashell{
  position:absolute;
  width:200px;
  left:1110px;
  top:460px;
}
.pigeon{
  width:400px;
  position: absolute;
  left:700px;
  top:500px;
}
.fork{
  position: absolute;
  width:500px;
  top:500px;
  left:35px;
  -ms-transform: rotate(5deg); /* IE 9 */
-webkit-transform: rotate(5deg); /* Safari 3-8 */
transform: rotate(5deg);
}
