
body{
  background:url("../bikewoods.png");
  background-size:cover;
  font-size: 80%;
}
.anphoto{
  width:200px;
  height:950px;
  border:0px solid black;
  position: absolute;
  left:630px;
  top:20px;
  background: url("../cover7/.png");
  background-position:center;
  background-size: cover;
  font-size: 50%;
}
.circle2{
  width:200px;
  height:200px;
  border-radius: 75px;
  border:0px solid black;
  position: absolute;
  top: 50px;
  left:480px;
  font-size: 100%;
  background: url("../redplates.png");
  background-position:center;
  background-size:cover;
}
.circle3{
  width:120px;
  height:120px;
  border-radius: 50px;
  border:0px solid black;
  position:absolute;
  top:490px;
  left:90px;
  background: url("../woodenplate.png");
  background-position:center;
  background-size: cover;
}
.rectangle{
  width:100px;
  height:85px;
  border:0px solid black;
  top:410px;
  left:470px;
  position: absolute;
  background: url("../teaplate.png");
  background-position:center;
  background-size: cover;
}
.rectangle2{
  width:105px;
  height:105px;
  border:0px solid black;
  position:absolute;
  top:535px;
  left:620px;
  background: url("../rosepate.png");
  background-position:center;
  background-size: cover;
}
.rectangle3{
  width:140px;
  height:140px;
  border:0px solid black;
  position:absolute;
  left:60px;
  top:15px;
  -ms-transform: rotate(20deg); /* IE 9 */
-webkit-transform: rotate(20deg); /* Safari 3-8 */
transform: rotate(20deg);
background: url("../londonplate.png");
background-position:center;
background-size: cover;
}

.button{
  width:200%;
  position:absolute;
  text-align:left;
  top:30px;
  left:28px;
}
.button4{
width:100%;
position:absolute;
text-align:center;
top:30px;
left:5px;

-ms-transform: rotate(340deg); /* IE 9 */
-webkit-transform: rotate(340deg); /* Safari 3-8 */
transform: rotate(340deg);
}
.button3{
width:100%;
position:absolute;
top:70px;
left:60px;
}
.button8{
  width:100px;
  text-align: center;
  position: absolute;
  top:685px;
  left:440px;
}

.button1{
width:100%;
position:absolute;
text-align:center;
top:35px;
}
.button2{
width:100%;
position:absolute;
text-align: center;
top:30px;
}
.button5{
width:100%;
position:absolute;
text-align:center;
top:20px;
}

a {
  font-family: 'Fahkwang', sans-serif;
  color: white;
  font-size:18px;
  font-style: oblique bold;
  text-decoration: none;

}
.b{
  font-size:17px;
  color:black;
}
.c{
  font-size:17px;
  position: absolute;
  left:5px;
  color:black;
}

.d{
  font-size:17px;
  color:black;
}
.resumetext{
  color:white;
}
.line1{
  width:220px;
  border:0.5px solid black;
  position: absolute;
  left:430px;
  top:200px;
  -ms-transform: rotate(150deg); /* IE 9 */
-webkit-transform: rotate(150deg); /* Safari 3-8 */
transform: rotate(150deg);
}
.line22{
  width:122px;
  border:0.5px solid black;
  position:absolute;
  left:395px;
  top:410px;
  -ms-transform: rotate(60deg); /* IE 9 */
-webkit-transform: rotate(60deg); /* Safari 3-8 */
transform: rotate(60deg);
}
.line3{
  width:140px;
  border:0.5px solid black;
  position:absolute;
  left:532px;
  top:524px;
  -ms-transform: rotate(35deg); /* IE 9 */
-webkit-transform: rotate(35deg); /* Safari 3-8 */
transform: rotate(35deg);
}
.mirrors{
 width:550px;
 position: absolute;
 top:100px;
 left:50px;
}
.eggs{
  width:200px;
  position: absolute;
  top:590px;
  left:385px;
}
.blanket{
  width:223px;
  position: absolute;
  top:590px;
  left:375px;
}
.teapot{
  width:200px;
  position: absolute;
  top:500px;
  left:275px;
}
.cover7{
  position: absolute;
  left:750px;
  top:440px;
}
.cherrytomatoes{
  width:400px;
  position: absolute;
  left:840px;
  top:250px;
}
.redface{
  width:340px;
  position:absolute;
  left:750px;
  top:0px;
  -ms-transform: rotate(-15deg); /* IE 9 */
-webkit-transform: rotate(-15deg); /* Safari 3-8 */
transform: rotate(-15deg);

}
.greenonion{
  width:300px;
  position:absolute;
  left:800px;
  top:650px;
}
.greenonion1{
  width:250px;
  position:absolute;
  left:950px;
  top:630px;
  -ms-transform: rotate(-15deg); /* IE 9 */
-webkit-transform: rotate(-15deg); /* Safari 3-8 */
transform: rotate(-15deg);
}
.greenonion2{
  width:300px;
  position:absolute;
  left:980px;
  top:630px;
  -ms-transform: rotate(60deg); /* IE 9 */
-webkit-transform: rotate(60deg); /* Safari 3-8 */
transform: rotate(60deg);
}
.daisychain2{
  width:350px;
  position: absolute;
  left:870px;
  top:390px;
}
