
body{
  background:url("../bikewoods.png");
  background-size:cover;
  font-size: 80%;
}
.circle{
  width:300px;
  height:300px;
  border-radius: 150px;
  border:1px solid black;
  position: absolute;
  left:220px;
  top:200px;
  background: url("../an.png");
  background-position:center;
  background-size: cover;
  background-size:500px;
  font-size: 50%;
}
.circle2{
  width:150px;
  height:150px;
  border-radius: 75px;
  border:1.3px solid black;
  position: absolute;
  top: 70px;
  left: 690px;
  font-size: 100%;
}
.circle3{
  width:100px;
  height:100px;
  border-radius: 50px;
  border:1.3px solid black;
  position:absolute;
  top:550px;
  left:150px;
}
.rectangle{
  width:70px;
  height:65px;
  border:1.3px solid black;
  top:490px;
  left:600px;
  position: absolute;
}
.rectangle2{
  width:120px;
  height:80px;
  border:1.3px solid black;
  position:absolute;
  top:555px;
  left:760px;
}
.rectangle3{
  width:90px;
  height:90px;
  border:1.3px solid black;
  position:absolute;
  left:140px;
  -ms-transform: rotate(20deg); /* IE 9 */
-webkit-transform: rotate(20deg); /* Safari 3-8 */
transform: rotate(20deg);
}

.button{
  width:100%;
  position:absolute;
  text-align:left;
  top:8px;
  left:10px;
}
.button4{
width:100%;
position:absolute;
text-align:center;
top:20px;
-ms-transform: rotate(340deg); /* IE 9 */
-webkit-transform: rotate(340deg); /* Safari 3-8 */
transform: rotate(340deg);
}
.button3{
width:100%;
position:absolute;
top:40px;
left:20px;
}

.button1{
width:100%;
position:absolute;
text-align:center;
top:20px;
}
.button2{
width:100%;
position:absolute;
text-align: center;
top:20px;
}

a {
  font-family: 'Fahkwang', sans-serif;
  color: white;
  font-size:18px;
  background
  font-style: oblique bold;
}
.b{
  font-size:17px;
}
.c{
  font-size:17px;
  position: absolute;
  left:5px;
}
.d{
  font-size:17px;
}
.line1{
  width:290px;
  border:0.5px solid black;
  position: absolute;
  left:490px;
  top:220px;
  -ms-transform: rotate(150deg); /* IE 9 */
-webkit-transform: rotate(150deg); /* Safari 3-8 */
transform: rotate(150deg);
}
.line2{
  width:122px;
  border:0.5px solid black;
  position:absolute;
  left:493px;
  top:450px;
  -ms-transform: rotate(40deg); /* IE 9 */
-webkit-transform: rotate(40deg); /* Safari 3-8 */
transform: rotate(40deg);
}
.line3{
  width:90px;
  border:0.5px solid black;
  position:absolute;
  left:670px;
  top:564px;
  -ms-transform: rotate(10deg); /* IE 9 */
-webkit-transform: rotate(10deg); /* Safari 3-8 */
transform: rotate(10deg);
}
