body{
  background:url("../veggie.jpg");
  background-size:cover;
  font-size: 80%;
}
.resume{
  width:600px;
  position: absolute;
  left:405px;
  top:60px;
}
.turnipface{
  width:300px;
  position: absolute;
  left:75px;
  top:70px;
}
.turnip{
  width:300px;
  position: absolute;
  left:1075px;
  top:70px;
}
.bg{
  width:730px;
  height:830px;
  position: absolute;
  left:350px;
  top:30px;
}
a {
  font-family: 'Fahkwang', sans-serif;
  color: white;
  font-size:18px;
  font-style: oblique bold;
  text-decoration: none;
}
