
body{ background:url("Project3pics/street.jpeg");
background-size:cover;
};

.egg{
  position:absolute;
  left:100px;
}
.egg img{
  width:200px;
  position:absolute;
  left:350px;
  top:110px;
}
.egg img:hover{
  opacity:0.7;
}
.chick img{
  width:400px;
  position:absolute;
  left:600px;
  top:120px;
}
.chick img:hover{
  opacity:0.7;
}
.chicken img{
  width:300px;
  position:absolute;
  left:300px;
  top:380px;
}
.chicken img:hover{
  opacity: 0.7
}

.cooked img{
  width:400px;
  position:absolute;
  left:630px;
  top:380px;
}
.cooked img:hover{
  opacity: 0.7
}
.iml{
  font-size: 50px;
  color:red;
  position:absolute;
  left:300px;
  top:0px;
}
