body{background:url("../Project3pics/shelfreflection.jpg");
background-size: cover;
}
.m1{
  width:120px;
  height:120px;
  border-radius:62.4px;
  border:1px solid black;
  position:absolute;
  left:140px;
  top:107px;
  background:url("../Project3pics/lines.jpeg");
  background-position: center;
  background-size: cover;
  transition: 2s
}
.m2{
  width:120px;
  height:120px;
  border-radius:62.4px;
  border:1px solid black;
  position:absolute;
  left:320px;
  top:107px;
  background:url("../Project3pics/lamp.jpeg");
  background-size:cover;
  background-position: center;
  transition:2s
}
.m3{
  width:120px;
  height:120px;
  border-radius:62.4px;
  border:1px solid black;
  position:absolute;
  left:500px;
  top:107px;
  background:url("../Project3pics/lightcircle.jpeg");
  background-position: center;
  background-size: cover;
  transition: 2s
}
.m4{
  width:120px;
  height:120px;
  border-radius:62.4px;
  border:1px solid black;
  position:absolute;
  left:680px;
  top:107px;
  background:url("../Project3pics/fae.jpg");
  background-position: center;
  background-size: cover;
  transition: 2s
}
.m5{
  width:120px;
  height:120px;
  border-radius:62.4px;
  border:1px solid black;
  position:absolute;
  left:230px;
  top:275px;
  background:url("../Project3pics/peach.png");
  background-position: center;
  background-size: cover;
  transition: 2s
}
.m6{
  width:120px;
  height:120px;
  border-radius:62.4px;
  border:1px solid black;
  position:absolute;
  left:410px;
  top:275px;
  background:url("../Project3pics/peaches.jpeg");
  background-position: center;
  background-size: cover;
  transition: 2s
}
.m7{
  width:120px;
  height:120px;
  border-radius:62.4px;
  border:1px solid black;
  position:absolute;
  left:590px;
  top:275px;
  background:url("../Project3pics/hair.png");
  background-position: center;
  background-size: cover;
  transition: 2s
}
.m8{
  width:120px;
  height:120px;
  border-radius:62.4px;
  border:1px solid black;
  position:absolute;
  left:770px;
  top:275px;
  background:url("../Project3pics/onion.jpg");
  background-position: center;
  background-size: cover;
  transition: 2s
}
.m9{
  width:120px;
  height:120px;
  border-radius:62.4px;
  border:1px solid black;
  position:absolute;
  left:140px;
  top:443px;
  background:url("../Project3pics/droppings.jpg");
  background-position: center;
  background-size: cover;
  transition: 2s
}
.m10{
  width:120px;
  height:120px;
  border-radius:62.4px;
  border:1px solid black;
  position:absolute;
  left:320px;
  top:443px;
  background:url("../Project3pics/car.jpeg");
  background-position: center;
  background-size: cover;
  transition: 2s
}
.m11{
  width:120px;
  height:120px;
  border-radius:62.4px;
  border:1px solid black;
  position:absolute;
  left:500px;
  top:443px;
  background:url("../Project3pics/garment.jpg");
  background-position: center;
  background-size: cover;
  transition: 2s
}
.m12{
  width:120px;
  height:120px;
  border-radius:62.4px;
  border:1px solid black;
  position:absolute;
  left:680px;
  top:443px;
  background:url("../Project3pics/gatetwo.jpg");
  background-position: center;
  background-size: cover;
  transition: 2s
}
.link{
    font-family: 'Source Code Pro', monospace;
  color:white;
  position: absolute;
  left:530px;
  top:610px;
  text-decoration:none;
}
.back{
  color:black;
  font-family: 'Source Code Pro', monospace;
  text-decoration:none;
}
