body{background:url("../Project3pics/cloud.jpg");
background-size: cover;
}

.textbox{
color:yellow;
position:absolute;
left:25px;
top:50px;
text-align: center;
font-family: 'Source Code Pro', monospace;
}

.frame{
  width:380px;
  position:absolute;
  left:335px;
  top:130px;
}

.square{
  position:absolute;
  left:369px;
  top:165px;
}

.brick{
  width:200px;
  position:absolute;
  left:80px;
  top:470px;
}
.sponge{
  width:200px;
  position:absolute;
  left:780px;
  top:490px;
}
.green{
  width:170px;
  position: absolute;
  left:90px;
  top:120px;
}
.laundry{
  width:230px;
  position: absolute;
  top:90px;
  left:740px;
}
.again{
  position:absolute;
  top:550px;
  left:470px;
  font-family: 'Source Code Pro', monospace;
  color:yellow;
  text-decoration: none;
}
