body{background:url("../Project3pics/cloud.jpg");
background-size: cover;
}

.textbox{
color:yellow;
position:absolute;
left:25px;
top:50px;
text-align: center;
font-family: 'Source Code Pro', monospace;
}

.frame{
  width:380px;
  position:absolute;
  left:335px;
  top:130px;
}

.square{
  position:absolute;
  left:369px;
  top:165px;
}

.water1{
  width:300px;
  position:absolute;
  left:20px;
  top:320px;
}
.water2{
  width:300px;
  position:absolute;
  left:740px;
  top:320px;
}
.rock1{
  width:200px;
  position: absolute;
  left:90px;
  top:160px;
}
.rock2{
  width:200px;
  position: absolute;
  top:160px;
  left:770px;
}
.again{
  position:absolute;
  top:550px;
  left:470px;
  font-family: 'Source Code Pro', monospace;
  color:yellow;
  text-decoration: none;
}
