body{background:url("redshoesBG/dark.jpg");
background-size: cover;
}
.vid{
  position: absolute;
  left:400px;
  top:100px;
}
.feel{
  text-decoration:none;
  color:red;
  font-family:'Great Vibes', cursive;
  font-size:40px;
  position:absolute;
  left:420px;
  top:445px;
}
.love{
  text-decoration:none;
  color:red;
  font-family:'Arapey', serif;
  font-size:20px;
  position:absolute;
  left:690px;
  top:580px;
}
.love:hover{
  opacity:0.5;
}
.scared{
  text-decoration:none;
  color:red;
  font-family:'Arapey', serif;
  font-size:20px;
  position:absolute;
  left:690px;
  top:620px;
}
.scared:hover{
  opacity:0.5;
}
