body{background:url("redshoesBG/michael2.jpg");
background-size: cover;
}
.vid{
  position: absolute;
  left:520px;
  top:80px;
}
.dies{
  text-decoration:none;
  text-align: center;
  color:red;
  font-family:'Great Vibes', cursive;
  font-size:40px;
  position:absolute;
  left:100px;
  top:480px;
}
.run{
  text-decoration:none;
  color:blue;
  font-family:'Arapey', serif;
  font-size:25px;
  position:absolute;
  left:680px;
  top:650px;
}
.run:hover{
  opacity:0.5;
}
