body{background:url("redshoesBG/meat.jpg");
background-size: cover;
}
.lunch{
  position:absolute;
  left:120px;
  top:390px;
}
.friends{
  position:absolute;
  left:460px;
  top:390px;
}
.cool{
  position:absolute;
  left:880px;
  top:60px;
}
.circle1{
  width:240px;
  height:240px;
  border-radius:124.8px;
  border:1px solid black;
  position:absolute;
  left:180px;
  top:400px;
  background: url("redshoesBG/6_11.png");
  background-size:cover;
}
.circle2{
  width:240px;
  height:240px;
  border-radius:124.8px;
  border:1px solid black;
  position:absolute;
  left:510px;
  top:400px;
  background: url("redshoesBG/6_21.png");
  background-size:cover;
}
.circle3{
  width:240px;
  height:240px;
  border-radius:124.8px;
  border:1px solid black;
  position:absolute;
  left:920px;
  top:110px;
  background: url("redshoesBG/6_31.png");
  background-size:cover;
}
#click{
  text-decoration:none;
  color:red;
  font-family:'Great Vibes', cursive;
  font-size:30px;
  position:absolute;
  left:180px;
  top:620px;
}
#click:hover{
  opacity:0.5;
}
#click1{
  text-decoration:none;
  color:red;
  font-family:'Great Vibes', cursive;
  font-size:30px;
  position:absolute;
  left:510px;
  top:620px;
}
#click1:hover{
  opacity:0.5;
}
#click2{
  text-decoration:none;
  color:white;
  font-family:'Great Vibes', cursive;
  font-size:30px;
  position:absolute;
  left:900px;
  top:345px;
}
#click2:hover{
  opacity:0.5;
}
.next:hover{
  opacity:0.5;
}
.end{
  text-decoration:none;
  text-align:center;
  color:white;
  font-family:'Great Vibes', cursive;
  font-size:45px;
  position:absolute;
  left:935px;
  top:570px;
}
.end:hover{
  opacity:0.5;
}
.instruction{
  text-decoration:none;
  text-align:center;
  color:blue;
  font-family:'Arapey', serif, bold;
  font-size:17px;
  position:absolute;
  left:270px;
  top:210px;
}
.pink{
  position: absolute;
  left:870px;
  top:440px;
}
.knife{
  width:850px;
  height:425px;
  position:absolute;
  left:0px;
}
