body{background:url("redshoesBG/dark.jpg");
background-size: cover;
}
.vid{
  position: absolute;
  left:380px;
  top:100px;
}
.blend{
  text-decoration:none;
  color:red;
  font-family:'Great Vibes', cursive;
  font-size:40px;
  position:absolute;
  left:380px;
  top:445px;
}
.begin{
  text-decoration:none;
  color:red;
  font-family:'Arapey', serif;
  font-size:20px;
  position:absolute;
  left:620px;
  top:580px;
}
.begin:hover{
  opacity:0.5;
}
.disco{
  width:200px;
  height:200px;
  position:absolute;
  left:840px;
  top:200px;
}
